[user]
	email = jon@biteable.com
	signingkey = 072F55DAE5E7706B
[core]
	editor = vim
	excludesFile = ~/.gitignore
[alias]
	co = checkout
	br = branch
	save = !git add -A && git commit -m 'SAVE POINT'
[commit]
	gpgsign = true
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
